<html>
  <center>
  <head>
    <title>Page potin</title>
  </head>
  <body>
    <h1>Page potin</h1>
    <p>Voici la page du potin n°<%= gossip_tab[0] %></p> <!--affiche le numéro du potin-->
    <p>Son auteur : <%= gossip_tab[1] %></p> <!--affiche l'auteur du potin-->
    <p>Le contenu du potin : <%= gossip_tab[2] %></p> <!--affiche le contenu du potin-->
    <p><a href="/">Revenir à l'index</a></p>
  </body>
  </center>
</html>